- breadcrumb_title "比较修订"
- page_title "比较"

%h3.page-title
  = _("Compare Git revisions")
.sub-header-block
  - example_master = capture do
    %code.ref-name master
  - example_sha = capture do
    %code.ref-name 4eedf23
  = (_("Choose a branch/tag (e.g. %{master}) or enter a commit (e.g. %{sha}) to see what's changed or to create a merge request.") % { master: example_master, sha: example_sha }).html_safe
  %br
  = (_("Changes are shown as if the <b>source</b> revision was being merged into the <b>target</b> revision.")).html_safe

.prepend-top-20
  = render "form"
